{% extends "dashboard.html" %}

{% block content %}

<style>
    .judul{
        text-align: center; font-size:23px; font-weight:bold; margin-top: 30px;
    }
    .pemilih{
         margin-top:20px;border-radius:1px; background-color:#0275FC;  height: 72px; width: 200px; text-align: center; color:white; font-size: 20px;
    }
    .kandidat{
        margin-top:20px; margin-left:100px; border-radius:1px; background-color:#06A003; width: 200px; height: 72px; text-align: center; color:white; font-size: 20px; 
    }
    .voting{
        margin-top:20px; margin-left:100px; border-radius:1px; background-color:#c25e16; height: 72px; width: 200px;text-align: center;color:white; font-size: 20px;
    }
    .pengumuman{
         margin-top:20px; margin-left:100px; background-color:#fd2b06; height: 50px; width: 200px; height: 72px; color: white;  text-align: center; font-size: 20px;
    }
    .grafik{
        font-size:20px; font-weight:bold;height:25x; margin-top: 50px; text-align: center; color:black;
    }
    .barchart{
        width: 1000px; height:  400px; margin-top: 20px; margin-left: auto; margin-right: auto; border:1px solid black;
    }
</style>
<section>
    <div>
        
        <div class="conten">
            <div class="row">
                        <div class="judul">Pemilihan Ketua HMP Informatika</div>
            </div>
            
            <div class="flex-container" style="margin-left: 9%; margin-top: 25px;">
                <a href="/panitia/datapemilih">
                    <div class="pemilih"><br>Data Pemilih</div>
                </a>
                <a href="/panitia/listkandidat">
                    <div class="kandidat"><br>Data Kandidat</div>
                </a>
                <a href="/panitia/datavoting">
                      <div class="voting"><br>Data Voting</div>
                </a>
                <a href="/panitia/tambahpanitia">
                    <div class="pengumuman"><br>Pengumuman</div>
                </a>
            </div>  
            <div class="grafik"> Grafik Hasil Perolehan Suara </div>   
        
        <div>
        <div class="barchart">
            <canvas id="myChart" style="margin-top: 1px; width:50%; max-width:720px;"></canvas>
            <script>
            var xValues = ["No.1", "No.2"];
            var yValues = [100, 48];
            var barColors = ["#c25e16", "#054e2c"];
            new Chart("myChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                backgroundColor: barColors,
                data: yValues
                }]
            },
            options: {
                legend: {display: false},
                title: {
                display: true,
                }
            }
            });
            </script>
                <div class="grid-container" style="display: grid;  grid-template-columns: auto auto auto; justify-content: center;  margin-top: 20px;">    
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- <img src="media/images/avatar.png" alt=""> -->
    </div>
    
</section>

{% endblock %}
