{% extends "dashboard.html" %}

{% block content %}

<section>
    <style>
        .menu{
            margin-left: 78px;
        }
        .judul{
             margin-top: 30px;
        }
        .bar-chart{
            width: 1000px; height: 250px; border: 1px solid black; margin-left: auto; margin-right: auto; margin-top: 20px
        }
        .grid-container{
            display: grid;  grid-template-columns: auto auto auto auto;  margin-top: 20px; margin-left:auto; margin-right: auto;
        }
        .box-vote{
            width: 200px; height: 100px; text-align: center; border: 1px solid black;  margin-left: 45px; margin-right: 100px;
        }
        .btn-back{
            margin-left: 80%; margin-top: 15px; border: none; width: 10%; height:30px;border-radius:5px; background-color:#fd810d; font-size:15px; color:white;
        }
    </style>
    <div>
            <div class="menu"> 
                <h2 class="judul">Hasil Vote</h2>
                <div style="margin-left: 5%; width: 1100px; height: 457px; margin-top: 30px; border:1px solid black;">
                    <h3 class="content" style="text-align: center; margin-top: 20px;">Grafik Perolehan Suara</h3>
                    <div class="bar-chart">
                        <canvas id="myChart" style="margin-top: 0; max-width:500px"></canvas>
                        <script>
                        var xValues = ["No.1", "No.2", "Belum Memilih"];
                        var yValues = [100, 48, 87, 10];
                        var barColors = ["red", "green", "blue"];
        
                        new Chart("myChart", {
                        type: "bar",
                        data: {
                            labels: xValues,
                            datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                            }]
                        },
                        options: {
                            legend: {display: false},
                            title: {
                            display: true,
                            }
                        }
                        });
                        </script>
                        <div class="grid-container">
                            <div class="box-vote">
                                <img src="https://cdn.icon-icons.com/icons2/2406/PNG/512/user_account_icon_145918.png" alt="" style=" width: 85px; height: 100px; float: left; border-right: 1px solid black;">
                                <h3>No.1</h3>
                                <p style="font-weight: bold;">(52 suara)</p>
                            </div>
                            <div class="box-vote">
                                <img src="https://cdn.icon-icons.com/icons2/2406/PNG/512/user_account_icon_145918.png" alt="" style=" width: 85px; height: 100px; float: left; border-right: 1px solid black;">
                                <h3>No.2</h3>
                                <p style="font-weight: bold;">(48 suara)</p>
                            </div>
                            <div class="box-vote">
                                <img src="https://cdn.icon-icons.com/icons2/2406/PNG/512/user_account_icon_145918.png" alt="" style=" width: 85px; height: 100px; float: left; border-right: 1px solid black;">
                                <h3 style="font-size: 16px; margin-top: 20px;">Belum Memilih</h3>
                                <p style="font-weight: bold; margin-top: 25px;">(87 suara)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/panitia"><button class="btn-back">Kembali</button></a>
            
            </div>
            {% for d in hasil %}
            <div>
                {{d.id}}
                {{d.kandidat}}
            </div>
            {% endfor %}
    </div>
</section>

{% endblock %}